<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>mainController</servlet-name>
        <servlet-class>clone.servlet.mainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>clone.servlet.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageIndexServlet</servlet-name>
        <servlet-class>clone.servlet.ManageIndexServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCartServlet</servlet-name>
        <servlet-class>clone.servlet.AddToCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewCartServlet</servlet-name>
        <servlet-class>clone.servlet.ViewCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignInServlet</servlet-name>
        <servlet-class>clone.servlet.SignInServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCartServlet</servlet-name>
        <servlet-class>clone.servlet.UpdateCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCartServlet</servlet-name>
        <servlet-class>clone.servlet.DeleteCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveCartServlet</servlet-name>
        <servlet-class>clone.servlet.SaveCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogOutServlet</servlet-name>
        <servlet-class>clone.servlet.LogOutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagePersonalServlet</servlet-name>
        <servlet-class>clone.servlet.ManagePersonalServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageAccountsServlet</servlet-name>
        <servlet-class>clone.servlet.ManageAccountsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageCategoriesServlet</servlet-name>
        <servlet-class>clone.servlet.ManageCategoriesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageOrdersServlet</servlet-name>
        <servlet-class>clone.servlet.ManageOrdersServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddNewPlantServlet</servlet-name>
        <servlet-class>clone.servlet.AddNewPlantServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagePlantsServlet</servlet-name>
        <servlet-class>clone.servlet.ManagePlantsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetPlantServlet</servlet-name>
        <servlet-class>clone.servlet.GetPlantServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageOrderDetailServlet</servlet-name>
        <servlet-class>clone.servlet.ManageOrderDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProfileServlet</servlet-name>
        <servlet-class>clone.servlet.UpdateProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CancelOrderServlet</servlet-name>
        <servlet-class>clone.servlet.CancelOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReorderServlet</servlet-name>
        <servlet-class>clone.servlet.ReorderServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>mainController</servlet-name>
        <url-pattern>/mainController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageIndexServlet</servlet-name>
        <url-pattern>/ManageIndexServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCartServlet</servlet-name>
        <url-pattern>/AddToCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewCartServlet</servlet-name>
        <url-pattern>/ViewCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignInServlet</servlet-name>
        <url-pattern>/SignInServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCartServlet</servlet-name>
        <url-pattern>/UpdateCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCartServlet</servlet-name>
        <url-pattern>/DeleteCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveCartServlet</servlet-name>
        <url-pattern>/SaveCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogOutServlet</servlet-name>
        <url-pattern>/LogOutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagePersonalServlet</servlet-name>
        <url-pattern>/ManagePersonalServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageAccountsServlet</servlet-name>
        <url-pattern>/ManageAccountsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageCategoriesServlet</servlet-name>
        <url-pattern>/ManageCategoriesServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageOrdersServlet</servlet-name>
        <url-pattern>/ManageOrdersServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddNewPlantServlet</servlet-name>
        <url-pattern>/AddNewPlantServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagePlantsServlet</servlet-name>
        <url-pattern>/ManagePlantsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetPlantServlet</servlet-name>
        <url-pattern>/GetPlantServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageOrderDetailServlet</servlet-name>
        <url-pattern>/ManageOrderDetailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProfileServlet</servlet-name>
        <url-pattern>/UpdateProfileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CancelOrderServlet</servlet-name>
        <url-pattern>/CancelOrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReorderServlet</servlet-name>
        <url-pattern>/ReorderServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>Index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
